.d-flex {
    display: flex;
}

.flex-sb {
    justify-content: space-between;
}

.container {
    /* height: 100vh; */
    margin: 0 auto 0 auto;
    width: 1440px;
    display: grid;
    grid-template-columns: 350px auto;
    grid-template-rows: 80px 80px 495px 40px auto 330px;
    grid-template-areas: 
    "header-top header-top"
    "header-main header-main"
    "content content"
    "nav-bar nav-bar"
    "menu-unihoc assortiment-cards"
    "footer footer"
    ;
}

.header-top {
    grid-area: header-top;
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    background-color: rgba(245, 245, 245, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    margin-top: 20px;
    padding: 0 20px 0 20px;
}

.header-top-left {
    display: flex;
    align-items: baseline;
}

.welcome-text {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 600;
    font-size: 22pt;
    padding-top: 8px;
}

.welcome-invitation {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    font-size: 16pt;
}

.welcome-link {
    display: block;
    margin-left: 1.5%;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    font-size: 8pt;
}

.header-top-right {
    grid-column: -1;
}

.header-main {
    grid-area: header-main;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    align-items: center;
    background-color: rgba(245, 245, 245, 100);
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    margin-top: 4px;
    padding: 0 20px 0 20px;
    position: sticky;
    top: 0;
    z-index: 1;
}

.header-main_left {
    display: flex;
    grid-column: 1/5;
    align-items: center;   
}

.header-main nav ul {
    list-style: none;
    display: flex;
}

.header-main nav ul>li {
    padding-right: 10px;
}

.header-main nav ul>li>a {
    color: black;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 600;
    font-size: 12pt;
    text-decoration: none;
    padding-left: 20px;
}

.header-main_right {
    display:flex;
    grid-column: 5/9;
    align-items: center;
 }

 .header-main_right a:not(:last-child) {
    padding-right: 40px;
}

.content {
    grid-area: content;
    margin-top: 4px;
}

.nav-bar {
    grid-area: nav-bar;
    display: flex;
    align-items: center;
    margin: 4px 0 4px 0;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

/* Style the list */
ul.breadcrumb {
    padding: 5px 8px;
    list-style: none;
    /* background-color: #eee; */
}

/* Display list items side by side */
ul.breadcrumb li {
    display: inline;
    font-size: 14px;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}

.menu-unihoc {
    grid-area: menu-unihoc;
    width: auto;
    /* background-color: yellow; */
    margin: 4px 0 2px 0;
    /* border: 1px solid rgba(0, 0, 0, 0.2); */
    border-radius: 8px;
}

/* Стиль кнопок, которые используются для открытия и закрытия панели аккордеона */
.accordion {
    margin-bottom: 8px;
    background-color: white;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    font-family: 'Noto Sans';
    font-weight: 500;
    font-style: normal;
    font-size: 16pt;
    font-display: swap;
    text-align: left;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    outline: none;
    transition: 0.4s;
  } 
  
  /* Добавить цвет фона для кнопки, если она нажата (добавить .активный класс с JS), а при наведении на него курсора мыши (наведите курсор) */
  .active, .accordion:hover {
    background-color: #ccc;
  } 
  
  /* Стиль аккордеон панели. Примечание: скрыто по умолчанию */
  .panel {
    padding: 12px 12px;
    background-color: white;
    display: none;
    overflow: hidden;
  } 

  .panel a {
    text-decoration: none;
  } 

  /*Добавляем символ для каждой кнопки, указывающий, является ли складное содержимое открытым или закрытым*/
  .accordion:after {
    content: '\02795'; /* Символ юникода для "плюса" знак (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
  }

  .active:after {
    content: "\2796"; /* Символ юникода для "минуса" знак (-) */
  }

.assortiment-cards {
    grid-area: assortiment-cards;
    width: auto;
    margin: 2px 0 0 4px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 4px;
}

.assortiment-card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}

.assortiment-card img {
    width: 348px;
    height: 435px;
    background-color: aqua;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    
}

.assortiment-card_productName {
    width: 348px;
    height: 24px;
    /* border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px; */
    font-family: 'Inter';
    font-weight:400;
    font-style: normal;
    font-size: 14px;
    padding: 4px;
}

.assortiment-card_productPrice {
    width: 348px;
    height: 36px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
    align-content: center;
    /* border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px; */
    font-family: 'Inter';
    font-weight:600;
    font-style: normal;
    font-size: 16px;
    padding: 4px;
    margin-bottom: 48px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.priceRetail {
    grid-column: 1;
    font-family: 'Inter';
    font-weight:600;
    font-style: normal;
    font-size: 14px;
    }

.priceRecommeded {
    grid-column: 3;
    font-family: 'Inter';
    font-weight:400;
    font-style: normal;
    font-size: 12px;
    text-decoration: line-through;
    align-content: center;
    }

.priceDiscountInPercentage {
    grid-column: 5;
    border: 1px solid rgba(0, 253, 0);
    border-radius: 4px;
    font-family: 'Inter';
    font-weight:400;
    font-style: normal;
    font-size: 10px;
    padding: 2px;
    align-content: center;
}

.footer {
grid-area: footer;
padding: 1%;
background-color: rgba(0, 253, 0, 0.85);
border: 1px solid rgba(0, 0, 0, 0.2);
border-radius: 8px;
display: grid;
/* grid-template-columns: repeat(4, 1fr); */
column-gap: 2px;
margin-top: 2px;
}

footer a:hover {
    color: blue;
}

footer a:active {
    color: rgba(0, 0, 0, 0.2);
}


.footer h2 {
    Font-family: 'Inter';
    font-weight: 600;
    font-style: normal;
    font-size: 12pt;
    line-height: 200%;
    margin-bottom: 2%;
}

.footer p {
    font-family: 'Inter';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    font-size: 12pt;
    line-height: 1.75;
}

.footer a {
    font-family: 'Inter';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    font-size: 12pt;
    line-height: 1.75;
    display: flex;
    text-decoration: none;
    color: black;
}

.footer-assortiment {
    grid-column: 1
}

.footer-information {
    grid-column: 2;
}

.footer-notes {
    grid-column: 3;
}

.footer-assistance {
    grid-column: 4;
}


.contacts-social {
    margin-top: 5%;
    display: flex;
}

.contacts-social img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.paymentDelivery-methods {
    margin-top: 3%;
    margin-bottom: 1%;
    display: flex;
}

.paymentDelivery-methods img {
    /* width: 30px; */
    height: 30px;
    margin-right: 10px;
}