.container-index_mobile-320 {
    /* height: 100vh; */
    margin: 4px auto;
    width: 100%;
    display: grid;
    grid-template-areas: 
    "header"
    "slider-block"
    "showcase"
    "welcomeSlogan"
    ;
}

.header-index_mobile-320 {
    width: 98%;
    height: 28px;
    margin: 8px auto;
    grid-area: header;
    position: sticky;
    top: 0;
    z-index: 1;  
}

.logo-img {
    display: block;
    align-items: center;
    width: 30px;
}

.header-index_mobile_nav-320 {
    padding: 4px 6px;
    background-color: #fff;
    border: 1px solid rgba(0, 253, 0, 0.5);
    border-radius: 4px;
    display: flex;
    align-items: center;    
    justify-content: space-evenly;
}

.header-index_mobile_button-320 {
    width: 80px;
    height: 24px;
    margin: 0 4px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 2px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 600;
    font-size: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-index_mobile_button-320 a {
    text-decoration: none;
    color: black;   
}

.section-index-mobile_slider-320 {
    grid-area: slider-block;
}


.image-1_professionals-320 {
    display: block; 
    width: 98%;
    margin: 12px auto 4px auto;
}

.section-index-mobile_slider_block-320 {
    position: relative;   
}

.section-index-mobile_slider_block-320 p {
    position	: absolute;
    bottom		: 5%;
    right		: 10%;
    font-family: 'Noto Sans';
    font-weight: bold;
    font-style: normal;
    font-display: swap;
    font-size: 8px;
    color: #fff; 
}

.slider-block_icons_position-320 {
    width: 8px;
    position	: absolute;
    bottom		: 8%;
    right		: 6%;
}

.section-index-mobile_showcase-320 {
    width: 98%;
    grid-area: showcase;
    margin: 0 auto;
     
}

.section-index-mobile_showcase_items-320 {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
}

.section-index-mobile_showcase_items-320 img {
    width: 49.45%;
}

.section-index-mobile_welcomeSlogan-320 {
    grid-area: welcomeSlogan;
    margin: 4px auto;
    width: 98%;
    height: 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(245, 245, 245, 0.25);
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px; 
    padding: 2px 14px;   
}

.index_mobile_button_bottom-320 {
    text-decoration: none;
    padding-left: 12px;
    width: 160px;
    height: 24px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 4px;
}

.index-mobile_welcome-text-320 {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 600;
    font-size: 8px;
    color: black;
    
}

.index-mobile_welcome-invitation-320 {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    font-size: 6px;
    color: black;
}

.index-mobile_Slogan-320 {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    font-size: 8px;
}